.line{
    width: 100%;
    height: 400px;
    background:linear-gradient(to right, #92c149, #7fc34a);
    position: relative;
}
.line-title{
    font-size: 28px;
    color: #fff;
    padding: 10px 20px;
}
.send{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.send button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 13px;
    color: #fff;
    background:linear-gradient(to right, #92c149, #7fc34a);
    box-shadow: 2px 2px 7px 1px #ccc;
}
#line{
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(250,250,250,0.95);
    display: none;
}
.on-off{
    position: fixed;
    left: 0;
    bottom: 15px;
    right: 0;
    text-align: center;
}
.on-off .icon{
    display: block;
    width: 45px;
    height: 45px;
    line-height: 42px;
    font-size: 20px;
    border-radius: 50%;
    background:linear-gradient(to right, #92c149, #7fc34a);
    color: #fff;
    margin: 0 auto;
    transition: all .5s;
    -webkit-transition: all .5s;
    z-index: 100;
    box-shadow: 1px 1px 5px 1px #ccc;
}
.on-off .icon.active{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.sel-button{
    width: 100%;
    height: 260px;
    position: fixed;
    left: 0;
    bottom: 80px;
    right: 0;
    z-index: 90;
    overflow: hidden;
    display: none;
}
.sel-button ul li{
    width: 33.3%;
    float: left;
    text-align: center;
    margin: 25px 0;
}
.sel-button ul li button{
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
}
.sel-button ul li button.animate_top-active{
    -webkit-animation-name: run_top;
    animation-name: run_top;
}
.sel-button ul li button.animate_b-active{
    -webkit-animation-name: run_b;
    animation-name: run_b;
}
.sel-button ul li button .icon{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #9BCB41;
}
.sel-button ul li button span{
    display: block;
    margin-top: 10px;
    color: #555;
}

@keyframes run_top {
    0%{
        opacity: 0;
        transform: translateY(300%);
        -webkit-transform: translateY(300%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes run_top {
    0%{
        opacity: 0;
        transform: translateY(300%);
        -webkit-transform: translateY(300%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
@keyframes run_b{
    0%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(300%);
        -webkit-transform: translateY(300%);
    }
}
@-webkit-keyframes run_b {
    0%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(300%);
        -webkit-transform: translateY(300%);
    }
}